 body {
  background-color: black;
  }

 h1{
  font-size: 60px;
  font-family: "Times New Roman",
  Times, serif;
  color: #4267b2;
  }

h2 {
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    color: #4267b2;
   }

h3 {
    color: chartreuse;
   }

p {
    font-size: 25px;
    color: antiquewhite;
  }

li {
   display: inline;
   float: right;
   }

li a {
   display: block;
   padding: 18px;
   font-size: 30px;
 }

 .head {
   margin: 100px;
   margin-left: 40px;
   margin-bottom: 0.1%;
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 .container {
   margin: 60px;
   font-size: 200%;
 }

 button {
   border-radius: 800px;
   border-color: green;
   font-size: 130%;
   border-style: solid;
   color: blue;
 }

 img {
   float: right;
   width: 10%;
   height: 45%;
   border-radius:50%;
   margin-right: 10%;
   margin-top: 0.5%;
 }

 footer {
  font-size: 120%;
  padding: 1%;
  border-top: 20%;
  border-color: #4267b2;
  border-top-style: solid;
  color: wheat;
  margin-top: 20%;
  text-align: center;
 }

 * {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins , sans-serif;
 }

 .logo{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px;
  transition: all 0.3s ease-o;
  margin-top:  10%;
 }

 .wrapper.button:hover{
  width: 200px;
 }

 .wrapper.button.icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
 }

 .wrapper.button:nth-child(1) 
 hover.icon{background: #4267b2;}

 .wrapper.button:nth-child(2) 
 hover.icon{background: #4267b2;}

 .wrapper.button:nth-child(3) 
 hover.icon{background: #4267b2;}

 .wrapper.button:nth-child(4) 
 hover.icon{background: #4267b2;}

 .wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
 }

 .wrapper .button:nth-child(1)
 span{
  color: #4267b2;
 }

 .wrapper .button:nth-child(2)
 span{
  color: #4267b2;
 }

 .wrapper .button:nth-child(3)
 span{
  color: #4267b2;
 }

 .wrapper .button:nth-child(4)
 span{
  color: #4267b2;
 }


