body {
    background-image: url(/images/sleezy1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    font-size: 19px;
    padding: 20%;
    box-sizing: border-box;
    color: aliceblue;
}

.container1 {
    margin: 0.5%;
    justify-content: flex-start;
    /* float: right; */
    /* padding-right: 100px; */
    /* justify-content: flex-start; */
    /* width: 30%; */
    /* height: 150px; */
    
}

.container2 {
    justify-content: flex-end;
    margin-left: 25%;
    
}

/* mobile view */
@media only screen and (max-width:780px) {
    .menu, .main, .right {
      width: 100%;
    }
}