body {
    background-color: black;
}

li {
    display: inline;
    float: right;
    }
 
 li a {
    display: block;
    padding: 18px;
    font-size: 30px;
  }
 
  .head {
    margin: 100px;
    margin-left: 40px;
    margin-bottom: 0.1%;
  }
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
 

h1 {
    color: aliceblue;
    text-align: center;
    font-size: 50px;

}

p {
    font-size: 30px;
    color: aliceblue;
}

img {
    width: 40%;
    height: 80%;
    border-radius: 10%;
    margin: 15px;
}

.container {
    display: flex;
}

.info {
    margin-top: 20%;
    
}