body {
    background-color: midnightblue;
}

h1 {
    text-align: center;
    color: aquamarine;
    padding-top: 100px;
}

.container-home {
    display: flex;
}
.container2 {
    display: flex;
    padding-left: 7rem;
    
}

.info{
    background-image: url(/images/beach11.jpg);
    background-repeat: no-repeat;
    background-size: 50rem;
    width: 120rem;
    font-size: 1.5rem;
    padding: 5%;
}

.home-img {
    object-fit: contain;  
  }

.home-img img {
    width: 25rem;
    height: 28.2rem;
}

.home-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 70%; */
    margin: 0 auto;
  }
  
  .home-icon img {
    width: 45px;
    object-fit: contain;
    padding: 30px;
  }