h1, p {
    text-align: center;
    font-size: 1.7rem;
    color: aliceblue;
}

body {
    background-color: black;
}

.container1 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container2 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    background-image: url(/images/beach11.jpg);
    background-repeat: no-repeat;
    /* background-size: 60rem; */
    /* width: 120rem; */
    /* justify-content: center; */
    /* font-size: 1.5rem; */
    /* padding: 5%; */
}

img {
    padding: 20px;
}