body {
    background-image: linear-gradient(to right, purple, black);
    
}

li {
    display: inline;
    float: right;
    }
 
 li a {
    display: block;
    padding: 18px;
    font-size: 10px;
  }
 
  .head {
    margin: 100px;
    margin-left: 40px;
    margin-bottom: 0.1%;
  }
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

 h1 {
    font-size: 20px;
    color: aliceblue;
    text-align: center;
 }

 .well  {
  font-size: 25px;
  color: goldenrod;
  margin-left: 8%;
  margin-top: 50px;
 }

 #container1 {
  font-size: 20px;
  margin-left: 10%;
  color: greenyellow;
  
 }

 p {
  font-size: 25px;
  color: grey;
  text-align: center;
 }

 .king {
   display: flex;
 }

 img {
  float: right;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 4%;
  width: 40%;
  height: 50%;
 }